body{
    background-image: url(bg.png) ;
    background-repeat:no-repeat;
    background-size: 100%;
    
}
.w-10{
    width: 30%;
    margin-right: 40%;
}
.container{
   margin-top:55%;

}
.ml{
    margin-left: 40%;
}
